<div class="forgot-password-container">
  <mat-card class="forgot-password-card">

    <h1>ContractIQ</h1>
    <h2>Forgot Password</h2>

    <p>
      Enter your registered email address to reset your password.
    </p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
  <mat-label>Email</mat-label>

  <input
    matInput
    type="email"
    formControlName="email">
</mat-form-field>

<div
  class="validation-error"
  *ngIf="forgotPasswordForm.get('email')?.touched &&
         forgotPasswordForm.get('email')?.hasError('required')">
  Email is required
</div>

<div
  class="validation-error"
  *ngIf="forgotPasswordForm.get('email')?.touched &&
         forgotPasswordForm.get('email')?.hasError('email')">
  Enter a valid email
</div>

      <button
        mat-raised-button
        color="primary"
        type="submit">
        Submit
      </button>

    </form>

    <p *ngIf="message" class="message">
      {{ message }}
    </p>

  </mat-card>
</div>